.flow-Editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 700px;
    background: black;
}

.viewport {
    display: block;
    position: relative;
    width: 500px;
    height: 326px;
    background: #eee;
    border-bottom: 1px solid #000;
}

.toolbar {
}

.inspector {
    position: fixed;
}